.cabecalhoPrincipal .container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
    width: 70%;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-flow: column wrap;
    height: 260px;
}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link{
    width: 23%;
    margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n){
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1){
    margin-left: 0;
}

.videoSobre .container{
    display: flex;
}

.videoSobre-video{
    width: 40%;
    flex-shrink: 2;
}

.videoSobre-sobre{
    display: flex;
    flex-direction: column;
    flex-grow: 0.8;
    text-align: center;
}

.videoSobre-sobre-list{
    flex-grow: 1;
}

@media (max-width: 480px){

    .cabecalhoPrincipal-nav{
        flex-direction: column;
    }

    .cabecalhoPrincipal .container{
        align-items: initial;
        flex-direction: column;
        text-align: center;
    }

    .conteudoPrincipal-cursos-link{
        width: 100%;
    }

    .conteudoPrincipal-cursos{
        flex-direction: column;
    }

    .rodapePrincipal-navMap-list{
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container{
        align-items: center;
        flex-direction: column;
    }

    .rodapePrincipal-contatoForm{
        width: auto;
    }

    .rodapePrincipal-patrocinadores-list{
        margin: 0;
        width: 100%;
    }

    .cabecalhoPrincipal-nav-link-app{
        order: -1;
    }

    .videoSobre .container{
        flex-direction: column;
    }

    .videoSobre-video{
        margin: 0 auto;
        width: 100%;
    }
}