.metrica{
    display: flex;
    justify-content: space-evenly;
    height: 25vh;
    width: 90vw;
    margin: 6em auto 0 auto;
}

.metrica__config{
    width: 20%;
}

.metrica__titulo{
    font-size: 35px;
    font-family: var(--fonte-padrao);
    color: var(--vermelho-escuro);
    font-weight: bold;
}

.metrica__subtitulo{
    margin: 0.85rem 0 0.6rem 0;
    font-weight: 600;
    font-family: var(--fonte-padrao);
}

.metrica__texto{
    font-weight: 400;
    font-family: var(--fonte-padrao);
    color: var(--texto-cinza);
    font-size: 14px;
    text-align: start;
}

@media screen and (max-width: 400px){
    .metrica{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .metrica__config{
        width: 70%;
    }

    .metrica__titulo, .metrica__subtitulo, .metrica__texto{
        text-align: center;
    }

    .metrica__titulo{
        margin-top: 2rem;
    }
}