.contato{
    width: 60%;
    margin: 0 auto;
}

.contato__titulo{
    font-size: var(--fonte-tamanho-texto);
    font-family: var(--fonte-padrao);
    color: var(--cor-oposto);
    text-decoration: underline;
    text-align: center;
    margin: 2em;
}

.contato__texto{
    font-size: var(--fonte-tamanho-padrao);
    font-family: var(--fonte-padrao);
    color: var(--cor-texto-padrao);
    text-align: center;
}

.contato__texto--final{
    margin-bottom: 2em;
}

.contato__contactar{
    font-size: var(--fonte-tamanho-texto);
    font-family: var(--fonte-padrao);
    color: var(--cor-oposto);
    text-align: center;
    margin: 1em 0;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    font-size: var(--fonte-tamanho-padrao);
    font-family: var(--fonte-padrao);
    color: var(--cor-texto-padrao);
    margin-top: 1em;
}

.input-padrao{
    border-style: none;
    margin: 0.5em 0;
    height: 30px;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: var(--cor-texto-padrao);
}

.enviar{
    width: 25%;
    height: 35px;
    background: var(--cor-oposto);
    border-style: none;
    padding: 7px 7px;
    margin: 2em 0;
    color: var(--cor-texto-padrao);
    border-radius: 3px;
}