.menu{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

.menu__imagem{
    width: 100%;
    height: 100%;
    grid-column: 3 / 3;
    grid-row: 1 / 4;
}

.menu__conteudo{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}

.menu__titulo{
    font-size: var(--fonte-tamanho-texto);
    color: var(--cor-oposto);
    font-family: var(--fonte-padrao);
    text-decoration: underline;
    text-align: center;
    margin: 0 1em 2em 0;
}

.menu__subtitulo{
    font-family: var(--fonte-padrao);
    color: var(--cor-texto-padrao);
    font-size: var(--fonte-tamanho-padrao);
    text-align: center;
    margin: 0 1em 1em 0;
    font-weight: bold;
}

.menu__paragrafo{
    font-family: var(--fonte-padrao);
    color: var(--cor-texto-padrao);
    font-size: var(--fonte-tamanho-padrao);
    text-align: center;
    margin: 0 1em 1em 0;
}