body{
    background: #EDEDED;
}

em strong{
    color: red;
}

#img-principal{
    width: 100%; 
}

p {
    text-align: center;
    font-family: Nuosu SIL;
}

h1{
    text-align: center; 
    background: #bdbdbd; 
    color: black;
    border: 30px solid black;
}

#p-missao {
    font-size: 20px;
}