header{
    background: darkgoldenrod;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao, .horario{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
    border-radius: 12px;
    border-color: darkgoldenrod;
}

.novidades{
    margin: 20px 0;
}

.enviar{
    display: block;
    margin: 20px 0;
    width: 40%;
    padding: 15px 0;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    border-color: darkgoldenrod;
    font-family: 'League Gothic', sans-serif;
    color: black;
    transition: 1s all;
}

.enviar:hover{
    color: white;
    font-family: 'League Gothic', sans-serif;;
    background: orange;
    font-size: 20px;
    cursor: pointer;
    transform: scale(1.1);
}

table{
    margin-top: 20px;
    margin-bottom: 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 8px 15px;
}

footer{
    background: url("./imagens/bg.jpg");
    text-align: center;
    padding: 40px 0 0;
}

.copyright{
    color: white;
    font-size: 13px;
    margin-top: 20px;
}