.apresentacao{
    align-items: center;
    background-image: url(../IMGs/skyscrapers.jpg);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.apresentacao__letras{
    border: 4px solid black;
    color: black;
    font-family: var(--fonte-padrao);
    font-size: 100px;
}

@media screen and (min-width: 375px) and (max-width: 767px){
    .apresentacao{
        height: calc(100vh - 20vh);
    }
}

@media screen and (min-width: 768px) and (max-width: 1440px){
    .apresentacao__letras{
        font-size: 170px;
    }
}