.rodape{
    align-items: center;
    background: var(--verde);
    color: white;
    display: flex;
    font-size: 16px;
    height: 104px;
    justify-content: center;
    line-height: 24px;
}

@media screen and (min-width: 768px){
    .rodape{
        font-size: 25px;
        height: 170px;
        line-height: 33px;
    }
}