body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
ul {
  padding: 0px !important;
}
.menu-principal {
  width: 100%;
  background-color: #010c3f;
  height: 60px;
}
main,
.content {
  margin: 0 auto;
  width: 980px;
  position: relative;
}
.logo {
  float: left;
  padding: 16px;
  width: 70%;
}
.redes-sociais {
  width: 25%;
  float: right;
}
.header-2 {
  background-color: #ffffff;
  width: 1000px;
  margin: 0 auto;
  padding: 18px;
}
.menu-urls {
  height: 80px;
  border-bottom: 3px solid #efefef;
}
.menu ul li {
  display: inline-block;
  color: #8b8b8b;
  margin-left: 15px;
  height: 17px;
}

.menu ul li:hover {
  border-bottom: 3px solid #289205;
}

.menu ul li a:hover {
  color: #289205;
}

.menu ul li a {
  color: #8b8b8b;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}
.menu {
  width: 70%;
  float: left;
}
.col-100 {
  width: 100%;
  float: left;
  position: relative;
}
.texto-destaque {
  text-align: center;
}
.texto-destaque strong {
  color: #646464;
}
.texto-destaque h1 {
  text-transform: uppercase;
  font-size: 30px;
  color: #818181;
}
.texto-destaque p {
  font-size: 15px;
  color: #9a9a9a;
}

.col-3 {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 29%;
  float: left;
  position: relative;
}
.bloco-imagem img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.bloco-imagem {
  height: 300px;
  border: 1px solid #c5c5c5;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 10px;
}
.bloco-imagem b,
p {
  text-align: left;
}
.bloco-texto {
  margin-top: 3em;
}

h3 {
  font-weight: normal !important;
}

.bloco-imagens-texto {
  background-color: #eeeeee;
}
.bloco-imagens-texto:before {
  width: 100%;
  display: inline-block;
  content: "";
  height: 52px;
  background: #ffffff;
  background-image: url("../img/setinha.png");
  background-repeat: no-repeat;
  background-position: center;
}
.bloco-imagens-texto:after {
  width: 100%;
  display: inline-block;
  content: "";
  height: 70px;
  background: #eeeeee;
}
.col-4 {
  float: left;
  width: 25%;
  text-align: center;
}
.col-4 img {
  cursor: pointer;
  margin: 0 auto;
  padding-top: 1em;
  vertical-align: middle;
}
.col-4 img:hover {
  margin-top: 10px !important;
  position: relative !important;
}

.bloco-logos {
  height: 170px;
}

.bloco-logos img {
  margin-top: 50px;
}

.footer h3 {
  text-align: left;
}

.footer {
  background-image: url("../img/footer.png");
  color: #ffffff;
}

.footer-2 {
  background-image: url("../img/footer2.png");
  color: #c1c1c1;
  height: 90px;
}

.footer p {
  width: 90%;
  text-align: left;
}

.footer-2 p {
  padding: 10px;
}

.clock {
  color: #898989 !important;
}

.clock:before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url("../img/clock.png");
  float: left;
  background-repeat: no-repeat;
  padding-left: 5px;
}

.local:before,
.emailico:before,
.telefoneico:before {
  content: "";
  width: 17px;
  height: 24px;
  display: inline-block;
  float: left;
  background-repeat: no-repeat;
  padding-left: 5px;
}
.local:before {
  background-image: url("../img/local.png");
}
.emailico:before {
  background-image: url("../img/emailico.png");
}
.telefoneico:before {
  background-image: url("../img/telefoneico.png");
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}
.facebook {
  background: #3b5998;
  color: white;
}
.twitter {
  background: #55acee;
  color: white;
}
.linkedin {
  background: #007bb5;
  color: white;
}
.youtube {
  background: #bb0000;
  color: white;
}
.instagram {
  background: #f00495;
  color: white;
}

input[type="text"] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type="text"]:focus {
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #289205;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
