.cabecalho{
    align-items: center;
    background: rgb(238, 238, 238);
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen and (min-widh: 0) {
    .cabecalho{
        justify-content: center;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho{
        padding: 0 5rem;
        justify-content: space-between;
    }
}